@model EntityLayer.Concrete.Comment

@{
    ViewData["Title"] = "CommentEdit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yorum Düzenleme</h4>
            <br />
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Yorum Başlığı</label>
                    <label>@Model.CommentTittle</label>
                    <input hidden asp-for="@Model.CommentId" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Yorum Sahibi</label>
                    <label>@Model.CommentUserName</label>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Yorum Tarihi</label>
                    <label>@Model.CommentDate</label>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Yorum Statüsü(Aktif/Pasif)</label>
                    <input type="checkbox" asp-for="@Model.CommentStatus" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Yorum</label>
                    <input type="text" asp-for="@Model.CommentContent" class="form-control" />
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
                <button href="/Dashboard/Index/" class="btn btn-light">İptal</button>
            </form>
        </div>
    </div>
</div>
